<html>
    <head>
        <script src="/static/lib.js"></script>
    </head>

<body style="background-color: #dddddd">

<video class="video" autoplay controls>
</video>
    <div class="progress">Loading...</div>


<script>
var streamid="{{ streamid }}";
var tid = null;
var videoEl = document.querySelector(".video");
var progressEl = document.querySelector(".progress");

var checkvideo = function(){
    new SimpleAjax().loadJson('/api/hasvideo/' + streamid + '/mp4', function(data){
        if (!!data && !!data.url){
            videoEl.src = data.url;
            videoEl.play();
            clearTimeout(tid);
        } else {
            if ("progress" in data){
                progressEl.innerText = data.progress; // + "%";
            }
            setTimeout(checkvideo, 1000);
            console.log(data);
        }
    }, function(e){
        setTimeout(checkvideo, 1000);
        console.error(e);
    });
}

checkvideo();

</script>
    </body>
</html>
